body{
   font-family: Roboto;
   line-height: normal;
}

.container{ 
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
} 

.section-hero{
   padding-top: 200px;
   padding-bottom: 200px;
  background-image: url(../herobg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-hero-title{
   text-align: center;
   margin: 0 auto;
   max-width: 696px;
   font-family: Roboto;
   color: #ffff;
   font-size: 44px;
   font-weight: 900;
   line-height: 60px;
}

.section-hero-btn{
   max-width: 216px;
   height: 50px;
   display: block;
   margin: 0 auto;
   margin-top: 30px;
   color: #ffff;
   border-radius: 4px;
  padding: 10px 32px;
}

.section-features{
   padding-top: 94px;
   padding-bottom: 94px;

}


.section-work{
   padding-bottom: 94px;

}

.section-team{
   padding-bottom: 94px;
   padding-top: 94px;
   background-color: #F5F4FA;
}


.footer{
   padding-bottom: 60px;
   padding-top: 60px;

}

.header-wrap{
   display: flex;
   gap: 93px;
   align-items: center;

}

.nav-list{
   display: flex;
   gap: 50px;
   
}

.nav-list-item{
   color: #212121;
font-size: 14px;
font-weight: 500;
letter-spacing: 0.28px;
}
.nav-list-item:hover{
   color: #2196F3;
}

.filter-list-btn{
   padding-top: 6px;
   padding-left: 22px;
   padding-right:22px ;
   padding-bottom: 6px;
   border-radius: 5px;
   color: #212121;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 162.5% */
letter-spacing: 0.48px;
margin-bottom: 50px;
}

.filter-list-btn:hover{
   background-color: #2196F3;
   color: white;
}


.contacts-list{
   display: flex;
   gap: 50px;
   margin-left: auto;
}

.contacts-list-item{
   color: #757575;
   font-size: 14px;

   font-weight: 500;
   line-height: normal;
   letter-spacing: 0.28px;
}

.contacts-list-item:hover{
   color: #2196F3;
}


.features-list{
   gap: 30px;
   display: flex;
}

.features-list-title{
   margin-bottom: 10px;
   color: #212121;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
}

.features-list-desc{
   color: #757575;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
}

.work-list{
   display: flex;
   gap: 30px;
   margin-top: 50px;
}

.section-work-title{
   text-align: center;
   color: #212121;
text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
}

.section-team-title{
   color: #212121;
text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
}

.team-list{
   display: flex;
   gap: 30px;
}

.team-list-title{
   color: #212121;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.48px;
}

.team-list-desc{
   color: #757575;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.48px;
}

.team-list-img{
   max-width: 270px;
 
}

.team-list-text{
   color: var(second);
   margin-top: 10px;
   text-align: center;
}

.address{
   margin-bottom: 20px;
}

.address-list-link{
   color: white;
}

.features-list-item::before{ 
   content: "";
   background-image: url ;
   background-repeat:no-repeat;
   display: inline-block;
   width: 270px;
   height: 120px;
   margin-bottom: 30px;
   background-image: url();
   background-repeat: no-repeat;
   display: inline-block;
   width: 270px;
 
} 

.features-list-item-first::before{
   content:"" ;
   background-image: url(/images/Group\ 1.jpg) ;
   background-repeat: no-repeat;
   background-position: center;
   display: inline-block;
   width: 270px;
   height: 120px;
   margin-bottom: 30px;

}
.features-list-item-second::before{
   content:"" ;
   background-image: url(/images/Group\ 2.jpg) ;
   background-repeat: no-repeat;
   background-position: center;
   display: inline-block;
   width: 270px;
   height: 120px;
   margin-bottom: 30px;

}

.features-list-item-third::before{
   content:"" ;
   background-image: url(/images/Group\ 3.jpg) ;
   background-repeat: no-repeat;
   background-position: center;
   display: inline-block;
   width: 270px;
   height: 120px;
   margin-bottom: 30px;

}
.features-list-item-fourth::before{
   content:"" ;
   background-image: url(/images/Group\ 4.jpg) ;
   background-repeat: no-repeat;
   background-position: center;
   display: inline-block;
   width: 270px;
   height: 120px;
   margin-bottom: 30px;

}


.header{
   padding-top: 32px;
   padding-bottom: 32px;

}

.section-hero{
 background-color: #2F303A;
}

.section-hero-btn{
   background-color: #2196F3;
}


.section-team-title{
   text-align: center;
   margin-bottom: 50px;
}

.team-list-content-wrap{
   padding-top: 30px;
   padding-bottom: 30px;
   text-align: center;
}

.footer{
   background-color: #2F303A;
}

.address{
   margin-top: 20px;
}

.address-list-item{
   margin-bottom: 9px;
}

.section{
   
}


.filter-list{
   display: flex;
   gap: 8px;
   margin-top: 94px;
   justify-content: center;
   flex-direction: row;
   margin-bottom: 50px;
   
}

.filter-list-item :nth-child(1)::before{
   background-color: #F5F4FA;
   border-style: none;
   content: "";
   
}
.portfolio-div{
   margin: 30px;
}
.portfolio-list{
   display flex;
   flex-wrap: wrap;
 align-items: center;
 column-count: 3;
 margin-bottom: 94px;
}

portflio-list-wra
.portfolio-list-fish{
   display: flex;
   align-items: end;
}
.portfolio-list-item{
margin-bottom: 30px;
}

.portfolio-list-wrap1{
   display: flex;
   align-items: flex-end;
   justify-content: flex-start;
}

.portfolio-list-title{
font-size: 18px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0.06em;
text-align: left;
color: #212121;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 36px; /* 200% */
letter-spacing: 1.08px;
}

.rearanging{
   margin-left: 131px;
 
}

.portfolio-list-desc{
   color: #757575;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 187.5% */
letter-spacing: 0.48px;
}
.portfolio-list-wrap{
   border-color: #757575;
}
.header-logo{
   color: #2196F3;
   font-family: Raleway;
   font-size: 26px;
   font-weight: 700;
   letter-spacing: 0.78px;
}


.header-studio{
   
color: black;

}

.footer-logo{
   color: #2196F3;
   font-family: Raleway;
   font-size: 26px;
   font-weight: 700;
   letter-spacing: 0.78px;
}

.footer-studio{
   color: white;
font-family: Raleway;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;
}
.address-list{
   padding: 10px;
}
.address-list-item1{
   color: #FFF;
   font-family: Roboto;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px; /* 171.429% */
   letter-spacing: 0.42px;
   margin-top: 10px;
}

.address-list-item{
   color: grey;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
}
























