body{
   font-family: Roboto;
   line-height: normal;
}

.container{ 
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
} 


.section-hero{
   padding-top: 200px;
   padding-bottom: 200px;
  background-image: linear-gradient(#2F303A66,#2F303A66),
  url(../herobg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

:root{
   --primary: grey;
   --secondary: #808080;
}

.header-studio{
   color: #212121;
}

.section-hero:hover{
  
   color: white;
  
}

.section-hero-title{
   text-align: center;
   margin: 0 auto;
   max-width: 696px;
   font-family: Roboto;
   color: #ffff;
   font-size: 44px;
   font-weight: 900;
   line-height: 60px;
}

.section-hero-btn{
   max-width: 216px;
   height: 50px;
   display: block;
   margin: 0 auto;
   margin-top: 30px;
   color: #ffff;
   border-radius: 4px;
  padding: 10px 32px;
}

.section-features{
   padding-top: 94px;
   padding-bottom: 94px;

}


.section-work{
   padding-bottom: 94px;

}

.section-team{
   padding-bottom: 94px;
   padding-top: 94px;
   background-color: #F5F4FA;
}


.footer{
   padding-bottom: 60px;
   padding-top: 60px;

}

.header-wrap{
   display: flex;
   gap: 93px;
   align-items: center;

}

.nav-list{
   display: flex;
   gap: 50px;
   
}

.nav-list-item{
   color: #212121;
font-size: 14px;
font-weight: 500;
letter-spacing: 0.28px;
}
.nav-list-item:hover{
   color: #2196F3;
}

.filter-list-btn{
   padding-top: 6px;
   padding-left: 22px;
   padding-right:22px ;
   padding-bottom: 6px;
   border-radius: 5px;
   color: #212121;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 162.5% */
letter-spacing: 0.48px;
margin-bottom: 50px;
}

.filter-list-btn:hover{
   background-color: #2196F3;
   color: white;
}


.contacts-list{
   display: flex;
   gap: 50px;
   margin-left: auto;
}

.contacts-list-link{
   display: flex;
   gap: 10px;
}

.contacts-list-item{
   color: #757575;
   font-size: 14px;
   font-weight: 500;
   line-height: normal;
   letter-spacing: 0.28px;
   display: flex;
}

 .contact-wrap{
   display: flex;
   align-items: center;
   gap: 10px;
 }

.contacts-list-item:hover{
   color: #2196F3;
}


.features-list{
 display: flex;
 gap: 30px;
}

.features-list-title{
   margin-bottom: 10px;
   color: #212121;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
}

.features-list-desc{
   color: #757575;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
}

.work-list{
   display: flex;
   gap: 30px;
   margin-top: 50px;
}

.work-list-img{

   z-index: 1;
}

.section-work-title{
   text-align: center;
   color: #212121;
text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
}

.section-team-title{
   color: #212121;
text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
}

.team-svg:hover{
   fill: #2196F3;
}

.team-list{
   display: flex;
   gap: 30px;
}

.client-svg-list{
   fill: #AFB1B8;
   border: solid #AFB1B8 1px;
   border-radius: 4px;
   height: 70px;
  padding: 16px 2px 16px 2px;

}

.team-svg-final{
   fill: #AFB1B8;
}

.team-list-content-wrap{
   background-color: white;
   width: 270px;
   border-radius: 4px;
  
  
}

.team-social-item{
   padding: 12px;
   border-radius: 50%;
}

.team-social-item:hover{
background-color: #2196F3;
}

.team-social-item:hover .team-svg-final{
   fill: #FFF;
}


.team-list-title{
   color: #212121;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.48px;
}

.team-list-desc{
   color: #757575;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.48px;
margin-top: 10px;
}

.team-list-img{
   max-width: 270px;
 
}

.team-list-text{
   color: var(second);
   margin-top: 10px;
   text-align: center;
}


.team-list-item:hover{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   text-align: center;
   border-radius: 4px;
}

.team-social-list{
  display: flex;
  justify-content: center;
}

.address{
   margin-bottom: 20px;
}

.address-list-link{
   color: white;
}


.features-list{
   margin-left: 30px;
  margin-right: 30px;
}
.features-img{
  background-color: #F5F4FA;
  padding: 25px 100px 25px 100px;
  margin-bottom: 30px;
  border-radius: 4px;
}

.features-list-item-fourth{

}



.header{
   padding-top: 32px;
   padding-bottom: 32px;

}

.section-hero{
 background-color: #2F303A;
}

.section-hero-btn{
   background-color: #2196F3;
}


.section-team-title{
   text-align: center;
   margin-bottom: 50px;
}

.team-list-content-wrap{
   padding-top: 30px;
   padding-bottom: 30px;
   text-align: center;
}



.address{
   margin-top: 20px;
}

.address-list-item{
   margin-bottom: 9px;
}

.section{
   
}


.filter-list{
   display: flex;
   gap: 8px;
   margin-top: 94px;
   justify-content: center;
   flex-direction: row;
   margin-bottom: 50px;
   
}

.filter-list-item :nth-child(1)::before{
   background-color: #F5F4FA;
   border-style: none;
}
.portfolio-div{
   margin: 30px;
}
.portfolio-list{
   display: flex;
   flex-wrap: wrap;
 align-items: center;
 column-count: 3;
 margin-bottom: 94px;

}

.portfolio-list-fish{
   display: flex;
   align-items: end;
}
.portfolio-list-item{
   border: 1px solid #EEE;
margin-bottom: 30px;
height: 404px;
width: 370px;
overflow: hidden;
}

.portfolio-list-item:hover{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   }

.portfolio-list-wrap1{
   display: flex;
   align-items: flex-end;
   justify-content: flex-start;
}

.portfolio-list-title{
font-size: 18px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0.06em;
text-align: left;
color: #212121;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 36px;
letter-spacing: 1.08px;
}





.portfolio-list-desc{
   color: #757575;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.48px;
}

.portfolio-list-wrap{
   padding: 24px 42px 24px 42px;
   z-index: 1;
}

.header-logo{
   color: #2196F3;
   font-family: Raleway;
   font-size: 26px;
   font-weight: 700;
   letter-spacing: 0.78px;
}


#icon-envelope{
   fill: #2F303A;
}

#icon-envelope:hover{
   fill: #2196F3;

}

use{
   margin: 0px;
   padding: 0px;
}

svg:hover{
   fill: #2196F3;
}

.svg-team-list{
   display: flex;
   gap: 30px;
   margin-top: 28px;
   margin-left: 50px;
   margin-bottom: 10px;
}
.svg-team-list-og{
  
   display: flex;
   gap: 30px;
 padding: 2px;
 justify-content: space-around;
 margin: 0px 20px 0px 20px;
}


.client-para{
   color: #212121;
text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
margin-top: 94px;
margin-bottom: 50px;
}

.client-list{
   display: flex;
   gap: 30px;
   display: flex;
   justify-content: center;
}

.client-svg{
   padding: 16px 32px 16px 32px;
   border-radius: 4px;
   border: 1px solid #AFB1B8;
   margin-bottom: 94px;
}


.client-cooler:hover{
fill: #2196F3;
}

.client-svg:hover{
   fill: #2196F3;
   color: #2196F3;
}






.overlay{
   background: rgba(33, 150, 243, 0.90);
   width: 100%;
   height: 100%;
  transform: translatey(100%);
  transition: transform 250ms ease-in-out;
  z-index: 2;
}

.overlay2{
   position: relative;
   z-index: 2;
   background: rgba(47, 48, 58, 0.80);
   padding: 27px 102px 27px 102px;
   fill: #808080;
}

.overlay2:hover{
   
}

.box:hover{
   position: relative;
   overflow: hidden;
}

.box:hover .overlay {
   
   transform: translatey(0);
 }












.footer{
   background-color: #2F303A;
  display: flex;
  
}


.footer-logo{
   color: #2196F3;
   font-family: Raleway;
   font-size: 26px;
   font-weight: 700;
   letter-spacing: 0.78px;
}

.footer-studio{
   color: white;
font-family: Raleway;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;
}

.footer-parag{
   color: #FFF;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
}

.address-list{
   padding: 10px;
   margin-left: 100px;
}

.footer-add{
   margin-left: 70px;
}

.footer-list{
   display: flex;
 padding-top: 20px;
 gap: 10px;
margin-left: 70px;
column-count: 1;
}

.footer-special-list{
   display: flex;
}

.address-list-item1{
   color: #FFF;
   font-family: Roboto;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px; /* 171.429% */
   letter-spacing: 0.42px;
   margin-top: 10px;
}

.address-list-item2{
   color: rgba(255, 255, 255, 0.60);
   font-family: Roboto;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px; /* 171.429% */
   letter-spacing: 0.42px;
   margin-top: 10px;
}

.address-list-item{
   color: #808080;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
}
























